/* line 1, ../../themes/clover/source/css/functions.scss */
.f-fl {
  float: left; }

/* line 5, ../../themes/clover/source/css/functions.scss */
.f-fr {
  float: right; }

/* line 10, ../../themes/clover/source/css/functions.scss */
.f-cf::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }
